<html>
<head>
<title>NSSK Data Source Aggregation, Storage, and Analysis</title>
<meta charset="UTF-8">
<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
<link rel="manifest" href="./site.webmanifest">
<style>
table, th, td {
  border: 1px solid blue;
  border-collapse: collapse;
  width: 820px;
}
th {
    text-align: center;
}
td {
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
}
hr {
    height: 4px;
    background-color: blue;
}
body {
    background-color: #e0e0eb;
    width: 820px;
}
</style>
</head>
<body>


<img src="./nssk-banner.png"/><br>
<hr>

NSSK Data Source Aggregation, Storage, and Analysis

<hr>
<h3>CNV Flowworks</h3>
City of North Vancouver data from Flowworks<br>
$CNV_FLOWWORKS_BLOCK

<hr>
<h3>DNV Flowworks</h3>
District of North Vancouver data from Flowworks<br>
$DNV_FLOWWORKS_BLOCK

<hr>
<h3>CoSMo</h3>
DFO PSEC Community Stream Monitoring (CoSMo)<br>
$COSMO_BLOCK

<hr>
<h3>Conductivity-Rainfall Correlation</h3>
Conductivity-Rainfall Correlation for CoSMo Sites<br>
$CONDUCTIVITY_RAINFALL_CORRELATION_BLOCK

<hr>
<h3>Rainfall Events</h3>
Rainfall Events occurring in CNV/DNV area<br>
$RAINFALL_EVENTS_BLOCK

<hr>
<h3>Rainfall Event Data</h3>
Rainfall Event Data occurring in CNV/DNV area<br>
$RAINFALL_EVENT_DATA_BLOCK

<hr>
<h3>CNV Hydrometric</h3>
CNV Hydrometric Data<br>
$CNV_HYDROMETRIC_BLOCK

<hr>
<h3>Chloride Acuity</h3>
Chloride Acuity for CoSMo sites<br>
$CHLORIDE_ACUITY_BLOCK

<hr>
<h3>Waterrangers</h3>
Waterrangers data for CNV area<br>
$WATERRANGERS_BLOCK

<hr>

North Shore Streamkeepers 2025<br>
Report problems, requests, suggestions, and questions to Jason<br>
<a href="https://github.com/jas0ndiamond/nssk-data">nssk-data Project</a><br>
<a href="https://github.com/jas0ndiamond/nssk-database">nssk-database Project</a><br>
<a href="https://www.nssk.ca">NSSK</a>

</body>
</html>