CREATE TABLE $MONITORING_LOCATION_ID (
	StartTimestamp DATETIME,
	EndTimestamp DATETIME,
	EventID INTEGER(7)
);

ALTER TABLE $MONITORING_LOCATION_ID ADD UNIQUE starttimestamp (StartTimestamp);
ALTER TABLE $MONITORING_LOCATION_ID ADD UNIQUE eventid (EventID);
ALTER TABLE $MONITORING_LOCATION_ID ADD PRIMARY KEY (StartTimestamp);
