SELECT
NSSK_DNV_FLOWWORKS.$SITE.MeasurementTimestamp,
NSSK_DNV_FLOWWORKS.$SITE.FlowReading
from NSSK_DNV_FLOWWORKS.$SITE
WHERE
NSSK_DNV_FLOWWORKS.$SITE.MeasurementTimestamp > "$DNV_FLOWWORKS_START_DATETIME" AND
NSSK_DNV_FLOWWORKS.$SITE.MeasurementTimestamp < "$DNV_FLOWWORKS_END_DATETIME"
ORDER BY NSSK_DNV_FLOWWORKS.$SITE.MeasurementTimestamp ASC