SELECT
NSSK_DNV_WHITEWATER.$SITE.MeasurementTimestamp,
NSSK_DNV_WHITEWATER.$SITE.FlowReading
from NSSK_DNV_WHITEWATER.$SITE
WHERE
NSSK_DNV_WHITEWATER.$SITE.MeasurementTimestamp > "$DNV_WHITEWATER_START_DATETIME" AND
NSSK_DNV_WHITEWATER.$SITE.MeasurementTimestamp < "$DNV_WHITEWATER_END_DATETIME"
ORDER BY NSSK_DNV_WHITEWATER.$SITE.MeasurementTimestamp ASC