-- retrieve cnv rainfall measurements during a known rainfall event
-- Use less-than-or-equal and greater-than-or-equal as start and end datetimes are rainfall measurements

select
NSSK_CNV_RAINFALL.$SITE.MeasurementTimestamp,
NSSK_CNV_RAINFALL.$SITE.Rainfall,
NSSK_CNV_RAINFALL.$SITE.AirTemperature
from NSSK_CNV_RAINFALL.$SITE
WHERE
NSSK_CNV_RAINFALL.$SITE.MeasurementTimestamp >= "$CNV_RAINFALL_START_DATETIME" AND
NSSK_CNV_RAINFALL.$SITE.MeasurementTimestamp <= "$CNV_RAINFALL_END_DATETIME"
ORDER BY NSSK_CNV_RAINFALL.$SITE.MeasurementTimestamp
ASC