select
CAST(CONCAT_WS(' ', NSSK_COSMO.$COSMO_SITE.ActivityStartDate, NSSK_COSMO.$COSMO_SITE.ActivityStartTime) as DATETIME),
NSSK_COSMO.$COSMO_SITE.ResultValue
from NSSK_COSMO.$COSMO_SITE
where
CAST(CONCAT_WS(' ', NSSK_COSMO.$COSMO_SITE.ActivityStartDate, NSSK_COSMO.$COSMO_SITE.ActivityStartTime) as DATETIME) > "$COSMO_START_DATETIME" AND
CAST(CONCAT_WS(' ', NSSK_COSMO.$COSMO_SITE.ActivityStartDate, NSSK_COSMO.$COSMO_SITE.ActivityStartTime) as DATETIME) < "$COSMO_END_DATETIME" AND
NSSK_COSMO.$COSMO_SITE.CharacteristicName = "Conductivity"
LIMIT 600