# retrieve cosmo measurements. the cosmo dataset has different entries for each measurement type, so combine multiple measurements with matching
# timestamps into one result row

# aliases should match with schema fields in RainfallIntervalDataEntry

# must be sorted ASC

# TODO: database name as parameter

SELECT
	CAST(CONCAT_WS(' ', $DB.$COSMO_SITE.ActivityStartDate, $DB.$COSMO_SITE.ActivityStartTime) as DATETIME) as CosmoTimestamp,
	MAX(CASE WHEN $DB.$COSMO_SITE.CharacteristicName = 'Conductivity' THEN $DB.$COSMO_SITE.ResultValue END) as Conductivity,
  	MAX(CASE WHEN $DB.$COSMO_SITE.CharacteristicName = 'Temperature water' THEN $DB.$COSMO_SITE.ResultValue END) as TemperatureWater
FROM $DB.$COSMO_SITE
WHERE
	($DB.$COSMO_SITE.ActivityStartDate BETWEEN '$COSMO_START_DATETIME' AND '$COSMO_END_DATETIME') AND
	($DB.$COSMO_SITE.ActivityStartTime >= '00:00:00' AND  $DB.$COSMO_SITE.ActivityStartTime < '23:59:59')
GROUP BY
  	CosmoTimestamp
ORDER BY
  	CosmoTimestamp ASC;