# must be sorted ASC

# TODO: database name as parameter

SELECT
	NSSK_CNV_HYDROMETRIC.$CNV_HYDROMETRIC_SITE.MeasurementTimeStamp as CNVHydrometricTimestamp,
  	NSSK_CNV_HYDROMETRIC.$CNV_HYDROMETRIC_SITE.RevisedFinalStage as RevisedFinalStage
FROM NSSK_CNV_HYDROMETRIC.$CNV_HYDROMETRIC_SITE
WHERE
    NSSK_CNV_HYDROMETRIC.$CNV_HYDROMETRIC_SITE.MeasurementTimeStamp >= "$CNV_HYDROMETRIC_START_DATETIME" AND
    NSSK_CNV_HYDROMETRIC.$CNV_HYDROMETRIC_SITE.MeasurementTimeStamp < "$CNV_HYDROMETRIC_END_DATETIME"
ORDER BY
  	CNVHydrometricTimestamp ASC;