# get earliest or latest instance of a desired measurement:
# conductivity
# temperature water
# water level

SELECT CAST(CONCAT_WS(' ', $DB.$SITE.ActivityStartDate, $DB.$SITE.ActivityStartTime) as DATETIME) as "COSMO_TIMESTAMP"
from $DB.$SITE
where $DB.$SITE.CharacteristicName = "Conductivity" or $DB.$SITE.CharacteristicName = "Temperature water" or $DB.$SITE.CharacteristicName = "Water level (probe)"
order by COSMO_TIMESTAMP $ORDER
LIMIT 1;