DatasetName,MonitoringLocationID,MonitoringLocationName,MonitoringLocationLatitude,MonitoringLocationLongitude,MonitoringLocationHorizontalCoordinateReferenceSystem,MonitoringLocationHorizontalAccuracyMeasure,MonitoringLocationHorizontalAccuracyUnit,MonitoringLocationVerticalMeasure,MonitoringLocationVerticalUnit,MonitoringLocationType,ActivityType,ActivityMediaName,ActivityStartDate,ActivityStartTime,ActivityStartTimeZone,ActivityEndDate,ActivityEndTime,ActivityEndTimeZone,ActivityDepthHeightMeasure,ActivityDepthHeightUnit,SampleCollectionEquipmentName,CharacteristicName,MethodSpeciation,ResultSampleFraction,ResultValue,ResultUnit,ResultValueType,ResultDetectionCondition,ResultDetectionQuantitationLimitMeasure,ResultDetectionQuantitationLimitUnit,ResultDetectionQuantitationLimitType,ResultStatusID,ResultComment,ResultAnalyticalMethodID,ResultAnalyticalMethodContext,ResultAnalyticalMethodName,AnalysisStartDate,AnalysisStartTime,AnalysisStartTimeZone,LaboratoryName,LaboratorySampleID
DFO PSEC Community Stream Monitoring (CoSMo),WAGG03,Wagg Creek near 22nd St. and Chesterfield Ave,49.329265,-123.075983,WGS84,10,m,"","",River/Stream,Field Msr/Obs,Surface Water,"$DATE","$TIME",,,,,"","",Probe/Sensor,$CHARACTERISTIC_NAME,"","",$RESULT_VALUE,$RESULT_UNIT,$RESULT_VALUE_TYPE,"","","","","","$RESULT_COMMENT","","","",,,"","",""
