select
CosmoTimestamp,
MAX(CASE WHEN CharacteristicName = "Specific conductance" THEN ResultValue END) AS Specific_Conductance,
MAX(CASE WHEN CharacteristicName = "Temperature water" THEN ResultValue END) AS Temperature_Water,
MAX(CASE WHEN CharacteristicName = "Water level (probe)" THEN ResultValue END) AS Water_Level
from (
	WITH q1 AS (
	    SELECT
	    	CAST(CONCAT($DB.$SITE.ActivityStartDate, ' ', $DB.$SITE.ActivityStartTime) AS DATETIME) AS CosmoTimestamp,
	    	CharacteristicName,
	        ResultValue
	    FROM $DB.$SITE
	)
	select
	CosmoTimestamp,
	CharacteristicName,
	ResultValue
	from q1
	WHERE
	(CharacteristicName = "Specific conductance" or CharacteristicName = "Temperature water" or CharacteristicName = "Water level (probe)")
) q2
group by CosmoTimestamp
having Specific_Conductance is not null and Specific_Conductance > $SPEC_CONDUCTANCE_THRESHOLD
order by CosmoTimestamp ASC;