SELECT
	CNV_FLOWWORKS_RAINFALL_START_TIMESTAMP,
	CNV_FLOWWORKS_RAINFALL_END_TIMESTAMP,
	CNV_FLOWWORKS_RAINFALL_AMOUNT,
	CNV_FLOWWORKS_AIR_TEMPERATURE,
	CNV_FLOWWORKS_BARO_PRESSURE,
	COSMO_TIMESTAMP,
	COSMO_TEMPERATURE_WATER,
	COSMO_CONDUCTANCE_RESULT,
	CNV_HYDROMETRIC_TIMESTAMP,
	CNV_HYDROMETRIC_REVISED_FINAL_STAGE
FROM (
	SELECT
		COALESCE(COSMO_TIMESTAMP, CNV_HYDROMETRIC_TIMESTAMP, CNV_FLOWWORKS_RAINFALL_START_TIMESTAMP) AS event_time,
		CNV_FLOWWORKS_RAINFALL_START_TIMESTAMP,
		CNV_FLOWWORKS_RAINFALL_END_TIMESTAMP,
		CNV_FLOWWORKS_RAINFALL_AMOUNT,
		CNV_FLOWWORKS_AIR_TEMPERATURE,
		CNV_FLOWWORKS_BARO_PRESSURE,
		COSMO_TIMESTAMP,
		COSMO_TEMPERATURE_WATER,
		COSMO_CONDUCTANCE_RESULT,
		CNV_HYDROMETRIC_TIMESTAMP,
		CNV_HYDROMETRIC_REVISED_FINAL_STAGE
	FROM $DB.$SITE
	WHERE
		COALESCE(COSMO_TIMESTAMP, CNV_HYDROMETRIC_TIMESTAMP, CNV_FLOWWORKS_RAINFALL_START_TIMESTAMP)
) as subquery
ORDER BY event_time;