SELECT
  e.EVENT_ID AS EventID,
  e.EVENT_START_TIMESTAMP as StartTimestamp,
  e.EVENT_END_TIMESTAMP as EndTimestamp,
  SUM(w.CNV_FLOWWORKS_RAINFALL_AMOUNT) AS TotalRainfall,
  SUM(w.DNV_WHITEWATER_FLOW_READING) AS TotalFlow
FROM $DB.$SITE AS w
INNER JOIN $DB.$RAINFALL_EVENTS_TABLE AS e
  ON w.RAINFALL_EVENT_ID = e.EVENT_ID
GROUP BY e.EVENT_ID, e.EVENT_START_TIMESTAMP, e.EVENT_END_TIMESTAMP
ORDER BY e.EVENT_ID;